.lingxing{
	height: 440px;
	overflow: hidden;
}
.lingxing>p{
	font: bold 30px 微软雅黑;
	color: #e94b59;
	text-align: center;
	margin-top: 25px;
}
.center-lingxing{
	width: 1027px;
	margin: 0 auto;
	position: relative;
	margin-top: 27px;
}
.center-lingxing li{
	float: left;
	width: 105px;
	margin-right: 8px;
}
.center-lingxing>ul:nth-of-type(1){
	margin-left: 114px;
}
.center-lingxing>ul:nth-of-type(2){
	position: absolute;
	margin-left: 57px;
	top: 100px;
}
.center-lingxing>ul:nth-of-type(3){
	position: absolute;
	top: 200px;
}
.center-animate{
	-webkit-transform: rotateY(360deg);
   	-ms-transform: rotateY(360deg);
   	-o-transform: rotateY(360deg);
   	transform: rotateY(360deg);
	-webkit-transition: transform 0.5s ease 0.2s;
    -o-transition: transform 0.5s ease 0.2s;
    transition: transform 0.5s ease 0.2s;
}
/*服务流程*/
.process{
	height: 738px;
	overflow: hidden;
	background: #f2f0f0;
}
.process>p{
	font: bold 30px 微软雅黑;
	margin-top: 3px;
	text-align: center;
}
.center-process{
	width: 1026px;
	margin: 0 auto;
	margin-top: 43px;
	position: relative;
}
.center-process>img{
	position: absolute;
	top: -10px;
	left: 502px;
}
.center-process div>p{
	font: 16px 微软雅黑;
}
.center-process ul{
	margin-top: 10px;
}
.center-process ul>li{
	float: left;
	width: 103px;
	height: 120px;
	text-align: center;
}
.center-process ul>li>img{
	margin-top: 20px;
}
.center-process ul>li>p{
	margin-top: 15px;
	font: 16px 微软雅黑;
	color: #999999;
}
.sell>ul>li{
	background: #d9e5ec;
}
.perform{
	margin-right: 85px;
	margin-top: 80px;
}
.perform>ul>li{
	background: #f3e1d8;
}
/*客户案例*/
.customer{
	height: 257px;
	overflow: hidden;
}
.customer>p{
	margin-top: 25px;
	font: bold 30px 微软雅黑;
	color: #e94b59;
	text-align: center;
}
.customer-center{
	width: 1026px;
	margin: 0 auto;
	margin-top: 15px;
}
.customer-center li{
	float: left;
	width: 150px;
	height: 61px;
	margin-right: 21px;
}
.customer-center li>a{
	display: inline-block;
	width: 150px;
	height: 61px;
}
/*咨询留言*/
.message{
	height: 610px;
	background: #f2f0f0;
	overflow: hidden;
}
.message>p{
	text-align: center;
	margin-top: 5px;
	font: bold 30px 微软雅黑;
	color: #e94b59;
}
.form{
	width: 624px;
	margin: 0 auto;
	margin-top: 35px;
}
.form form{
	position: relative;
	margin-left: 20px;
	font: 20px 微软雅黑;
}
.form form>p{
	position: absolute;
	display: inline;
	width: 460px;
	height: 30px;
	border: 2px solid #b8b8b8;
	left: 116px;
}
.form form>input{
	position: absolute;
	left: 116px;
	width: 455px;
	height: 30px;
	line-height: 25px;
	background: #f2f0f0;
	padding: 0 5px;
	outline-style: none;
	border: none;
	z-index: 100;
}
