.platform{
	height: 638px;
	background: #fff;
	overflow: hidden;
}
.platform>p{
	text-align: center;
	font: bold 25px 微软雅黑;
	margin-top: 30px;
}
.cn{
	height: 553px;
	margin-top: 55px;
	position: relative;
	background: url(../img1/intr-main.png) center 0 no-repeat;
}
.cn>p:nth-of-type(1){
	position: absolute;
	left: 933px;
	top: -42px;
}
.cn>span{
	position: absolute;
}
.cn>span:nth-of-type(1){
	left: 595px;
	top: 82px;
}
.cn>span:nth-of-type(2){
	left: 1123px;
	top: 82px;
}
.cn>span:nth-of-type(3){
	left: 582px;
	top: 296px;
}
.cn>span:nth-of-type(4){
	left: 1123px;
	top: 296px;
}
.cn>p:nth-of-type(2){
	position: absolute;
	left: 766px;
	top: 443px;
}
.DSP{
	height: 115px;
	background: #f2f0f0;
	overflow: hidden;
	/*position: relative;*/
}
.center{
	margin: 0 auto;
	width: 1061px;
}
.center>p:nth-child(1){
	margin-top: -10px;
	width: 112px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #c42101;
	color: #fff;
	font: 16px 微软雅黑;
}
.center>p:nth-child(2){
	margin-top: 11px;
	color: #000;
	font: 14px 微软雅黑;
}
.sjx{
	/*position: absolute;*/
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #fff;
    margin: 0 auto;
}
/*如何定向精准用户*/
.direction{
	height: 510px;
	background: #fff;
	padding-top: 30px;
}
.direction>p{
	text-align: center;
	font: bold 30px 微软雅黑;
}
.centerbox{
	margin-top: 145px;
	height: 385px;
	background: url(../img1/shou.png) center 0 no-repeat;
	position: relative;
}
.centerbox>img{
	position: absolute;
	left: 896px;
	top: 84px;
	transition: all 0.5s ease;
}

/*分析模型*/
.model{
	height: 520px;
	background: #f2f0f0;
	overflow: hidden;
}
.category{
	width: 526px;
	height: 263px;
	margin: 0 auto;
	margin-top: 68px;
}
.category>li{
	width: 250px;
	height: 118px;
	background: url(../img1/1.png) 0 0 no-repeat;
	float: left;
	line-height: 118px;
	text-align: center;
}
.category>li:nth-child(1){
	margin-right: 22px;
}
.category>li:nth-child(3){
	margin-right: 22px;
	margin-top: 20px;
}
.category>li:nth-child(4){
	margin-top: 20px;
}
.category>li>ul{
	margin: 29px 20px;
}
.category>li>ul>li{
	float: left;
	height: 30px;
	padding:0 10px;
	line-height: 30px;
	background: #ebf8f7;
	margin-right: 1px;
}
.category>li>ul>li:nth-child(4){
	margin-top: 1px;
}
.category>li>ul>li:nth-child(5){
	margin-top: 1px;
}
.model>p{
	width: 900px;
	margin: 0 auto;
	margin-top: 12px;
}
.server{
	width: 1032px;
	margin: 0 auto;
	margin-top: 15px;
}
.server>li{
	float: left;
	height: 64px;
	line-height: 64px;
	margin-right: 12px;
	color: #fff;
}
.server>li p{
	font: 14px 微软雅黑;
}
.server>li:nth-child(1){
	width: 128px;
	background: #75a635;
}
.server>li div{
	margin: 15px;
}
.server>li:nth-child(3){
	width: 256px;
	background: #75a635;
}
.server>li:nth-child(5){
	margin-right: 0;
	width: 183px;
	background: #c42101;
}
/*四种受众数据*/
.four{
	height: 428px;
	overflow: hidden;
	background: #fff;
}
.four>p:nth-of-type(1){
	font: bold 25px 微软雅黑;
	margin-top: 40px;
	text-align: center;
}
.four>p:nth-of-type(2){
	font: 16px 微软雅黑;
	text-align: center;
	margin-top: 12px;
}
.graph{
	width: 874px;
	margin: 0 auto;
	position: relative;
	margin-top: 52px;
}
.graph>img{
	position: absolute;
}
.graph>img:nth-child(2){
	left: 45px;
	top: -20px;
}
.graph>img:nth-child(3){
	left: 0px;
	top: 70px;
}
.graph>img:nth-child(4){
	left: 384px;
	top: 11px;
}
.graph>img:nth-child(5){
	left: 670px;
	top: 63px;
}
.graph>img:nth-child(6){
	left: 75px;
	top: -16px;
}
.graph>img:nth-child(7){
	left: 0px;
	top: 120px;
}
.graph>img:nth-child(8){
	left: 415px;
	top: 20px;
}
.graph>img:nth-child(9){
	left: 610px;
	top: 700px;
}
.graph>img:nth-child(10){
	left: 610px;
	top: 65px;
}
/*访客*/
.visite{
	height: 550px;
	background: #f2f0f0;
	overflow: hidden;
}
.visite>p:nth-of-type(1){
	font: bold 25px 微软雅黑;
	margin-top: 5px;
	text-align: center;
}
.visite>p:nth-of-type(2){
	font: 16px 微软雅黑;
	margin-top: 7px;
	text-align: center;
}
.type{
	width: 1026px;
	margin: 0 auto;
	margin-top: 20px;
}
#mytype{
	margin: 0 30px;
}
#mytype>li{
	float: left;
	width: 298px;
	height: 384px;
	background: url(../img1/15.png) 0 0 no-repeat;
	text-align: center;
	margin-right: 35px;
}
#mytype>li>p:nth-of-type(1){
	color: #fff;
	font: bold 16px 微软雅黑;
	margin-top: 24px;
}
#mytype>li img:nth-of-type(1){
	margin-top: 42px;
}
#mytype>li>p:nth-of-type(2){
	color: #0a9b8c;
	font: bold 16px 微软雅黑;
	margin-top: 15px;
}
#mytype>li>p:nth-of-type(3){
	font: 14px 微软雅黑;
	margin-top: 7px;
}
#mytype>li>p:nth-of-type(4){
	font: 14px 微软雅黑;
	margin-top: 5px;
}

/*多维度优化机制*/
.directional{
	height: 505px;
	overflow: hidden;
}
.directional>p:nth-of-type(1){
	font: bold 25px 微软雅黑;
	margin-top: 32px;
	text-align: center;
}
.directional>p:nth-of-type(2){
	font: 16px 微软雅黑;
	margin-top: 7px;
	text-align: center;
}
.route{
	width: 990px;
	margin: 0 auto;
	margin-top: 27px;
}
#myroute>li{
	float: left;
	margin-left: 89px;
}
#myroute>li:nth-child(1){
	margin-left: 91px;
}
.route>img{
	display: inline;
	vertical-align: middle;
}
#myroute2{
	margin-right: 195px;
}
#myroute2>li{
	float:right;
	margin-right: 91px;
}
/*强势媒体资源*/
.media{
	height: 666px;
	background: #f2f0f0;
	overflow: hidden;
}
.media>p{
	text-align: center;
}
.media>p:nth-of-type(1){
	font: bold 30px 微软雅黑;
	color: #e94b59;
	margin-top: 7px;
}
.media>p:nth-of-type(2){
	font: bold 25px 微软雅黑;
	margin-top: 16px;
}
.media>p:nth-of-type(3){
	font: 20px 微软雅黑;
	margin-top: 10px;
}
.web{
	width: 800px;
	margin: 0 auto;
	/*margin-top: 25px;*/
}
#main{
	margin-top: -20px;
}
.web img{
	display: inline;
	vertical-align: middle;
	margin-left: 42px;
}
.web>p{
	font: 20px 微软雅黑;
	margin-top: -10px;
	margin-left: 78px;
}
/*优质媒体资源*/
.resources{
	height: 528px;
	overflow: hidden;
}
.resources>p{
	font: bold 25px 微软雅黑;
	text-align: center;
	margin-top: 28px;
}
.center-resource{
	width: 1026px;
	margin: 0 auto;
	margin-top: 25px;
}
.center-left>a{
	display: block;
	height: 36px;
	font: bold 20px 微软雅黑;
	color: #fff;
	background: #b10036;
	text-align: center;
	line-height: 36px;
}
.center-left>a:nth-of-type(1){
	width: 102px;
}
.center-left>a:nth-of-type(2){
	margin-top: 50px;
	width: 140px;
}
.center-left>p{
	font: 14px 微软雅黑;
	margin-top: 21px;
}
.center-right{
	margin-top: 12px;
	width: 612px;
}
.center-right>ul>li{
	float: left;
	height: 102px;
}
.center-right>ul:nth-of-type(2){
	margin-left: 51px;
}
.center-right>ul:nth-of-type(3){
	margin-left: 204px;
}
.center-right>ul:nth-of-type(4){
	margin-left: 306px;
}
.center-animate{
	-webkit-transform: rotateY(360deg);
   	-ms-transform: rotateY(360deg);
   	-o-transform: rotateY(360deg);
   	transform: rotateY(360deg);
	-webkit-transition: transform 0.5s ease 0.2s;
    -o-transition: transform 0.5s ease 0.2s;
    transition: transform 0.5s ease 0.2s;
}
/*团队*/
.team{
	height: 380px;
	background: #f2f0f0;
	overflow: hidden;
}
.team>p{
	font: bold 25px 微软雅黑;
	text-align: center;
	margin-top: 8px;
}
.team>ul{
	width: 1026px;
	margin: 0 auto;
	margin-top: 32px;
}
.team>ul>li{
	float: left;
	background: url(../img1/48.png) 0 0 no-repeat;
	width: 164px;
	height: 224px;
	text-align: center;
}
.team>ul>li>p{
	font: bold 16px 微软雅黑;
	margin-top: 15px;
	color: #fff;
}
.team>ul>li>img{
	margin-top: 37px;
}
